* {
    margin: 0;
    padding: 0;
}

.pp {
    color: aliceblue;
    text-align: center;

}


body {
    background-image: url(1.jpg);
    background-size: 100%;
    background-repeat: repeat;

}


header {
    padding: 1px;
    color: rgb(255, 255, 255);
    background: rgb(17, 0, 255);
    margin-top: 10px;



}

.header-header {
    text-align: center;
    font-size: 200%;
    height: 95px;
    margin-top: 50px;
}

header img {
    width: 150px;
    height: 145px;
    float: left;
}


.game-box-1111 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 15px;
    scroll-behavior: smooth;

}

.game-box-1111 img {
    width: 180px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    flex-shrink: 0;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(8, 0, 255);
    transition: transform 0.3s;
    cursor: pointer;


}

.game-box-1111:hover {
    transform: scale(1.05);
}

